/** Add css rules here for your application. */
*{
	padding: 0px;
	margin:  0px;
}

.gwt-ProgressBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #EEEEEE;
  height: 24pt;
  width: 50%;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
  background-color: #67A7E3;
}
.gwt-ProgressBar-shell .gwt-ProgressBar-text {
  padding: 2px;
  margin: 8px;
  text-shadow: #ddd 3px 3px 1px;
  font-weight: bold;
  color: red;
}

body{
    color: #333333;
    display: table;
   /*font: 80%/160% Arial,Helvetica,sans-serif;*/
    width: 100%;
}

.validationFailedBorder{
	border-color: red;
	border-style: solid;
	
}
/*
.book-table{
	border-right-color: gray;
	border-right-style: solid;
	border-right-width: 1px;
	width: 100%;
}

.book-table tbody tr td{
	border-left-color: gray;
	border-left-style: solid;
	border-left-width: 1px;
	border-top-color: gray;
	border-top-style: solid;
	border-top-width: 1px;
	
	width: 100%;
}

.table-header{
	 background-color: #2062B8;
	 color: white;
	 font-style: italic;
	 text-align: center;
}
/*
/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

fieldset{
/*	border-style: solid;
	border-color: #f6d300;
    border-width: 1px 2px 3px 4px;
  */  
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding: 0px 0px 2px 10px;
}

fieldset legend{
	/*border:  3px solid red;
 
    -moz-border-radius: em; 
    -webkit-border-radius: 2em;
    border-radius: 2em;
	padding-left: 10px;
	padding-right: 10px;
*/}

.dou-requests-table td{
  		border-style: solid;
  		border-width: 1px;
  	}

.request-dou-name{
	font-weight: bold;
}

.request-dou-address{
	font-size: 10px;
	font-family: cursive;
}
.dou-cell-list div div{
	border-width: 1px;
	border-color: blue;
	border-style: solid;
}




.dou-requests-table td{
  		border-style: solid;
  		border-width: 1px;
  	}

.request-dou-name{
	font-weight: bold;
}

.request-dou-address{
	font-size: 10px;
	font-family: cursive;
}
.dou-cell-list div div{
	border-width: 1px;
	border-color: blue;
	border-style: solid;
}



.gwt-MenuBar-horizontal .gwt-MenuItem {
  padding: 0px 10px;
  vertical-align: bottom;
  color: #666666;
  font-weight: bold;
}




body, table td, select, input, button, .gwt-Button{
    font-family: sans-serif;
    font-size: x-small;
}


.WHILE{
    background-color: white !important;
}
.RED{
	background-color: #f36c5d !important;
}

.BLUE{
	background-color: #087ef7 !important;
}

.YELLOW{
	background-color:  #f9f589 !important;
}

.ORANGE{
	background-color: #fb6408 !important;
}

.GRAY{
	background-color: #97999a !important;
}

.GREEN{
	background-color:  #08f72a !important;
}

table{
border:0px; /* border="0" */
border-collapse:collapse; /* cellspacing="0" */
}

table td{
padding:0px; /* cellpadding="0" */
} 


.filters-table > tbody > tr:nth-child(2n) > td {
    background: none repeat scroll 0 0 #DFEFEF;
}


.layout-table>tbody>tr>td, .layout-table>tr>td{
	 vertical-align: top;
}