<p>
	Уведомление об изменении статуса РН
</p>
<p>
	Регистрационный номер: #{rn}
	<br/>
	Новый статус: #{status}
	<br/>
	Воспользуйтесь сервисом проверки текущего статуса в очереди: 
	<a href="http://77.66.253.151/CheckRegNum/">Узнать номер в очереди</a>
</p>