<p>
	Внесены изменения в регистрационный номер в электронной очереди в ДОУ.  
</p>
<p>
	Регистрационный номер: #{rn}
	<br/>
	Воспользуйтесь сервисом проверки текущего статуса в очереди: 
	<a href="http://77.66.253.151/CheckRegNum/">Узнать номер в очереди</a>
</p>