
.cellTableWidget {
  
}

.cellTableFirstColumn {
  
}

.cellTableLastColumn {
  
}

.cellTableFooter {
  border-top: 2px solid #6f7277;
  padding: 3px 3px;
  text-align: left;
  color: #4b4a4a;
 /* text-shadow: #ddf 1px 1px 0;*/
  overflow: hidden;
}

.cellTableHeader {
  border-bottom: 2px solid #6f7277;
  padding: 3px 3px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
}

.cellTableCell {
  padding: 2px 2px;
  overflow: hidden;
}

.cellTableFirstColumnFooter {
  
}

.cellTableFirstColumnHeader {
  
}

.cellTableLastColumnFooter {
  
}

.cellTableLastColumnHeader {
  
}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
  color: #6c6b6b;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
  background: #cfd5f9;
}

.cellTableEvenRowCell {
 /* border: selectionBorderWidth solid #ffffff;*/
 	border-bottom: 1px solid black;
 	border-left: 1px solid black;
}

.cellTableOddRow {
  background: #cfd5f9;
}

.cellTableOddRowCell {
  /*border: selectionBorderWidth solid #f3f7fb;*/
 	border-bottom: 1px solid black;
 	border-left: 1px solid black;
}

.cellTableHoveredRow {
 /* background: #eee;*/
}

.cellTableHoveredRowCell {
 /* border: selectionBorderWidth solid #eee;*/
}

.cellTableKeyboardSelectedRow {
  background: yellow !important;
}

.cellTableKeyboardSelectedRowCell {
 /* border: selectionBorderWidth solid #ffc;*/
}

.cellTableSelectedRow {
 /* background: #628cd5;
  color: white;
  height: auto;
  overflow: auto;*/
}

.cellTableSelectedRowCell {
 /* border: selectionBorderWidth solid #628cd5; */
}

/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
 /* border: selectionBorderWidth solid #d7dde8;*/
}

@sprite .cellTableLoading {
  gwt-image: 'cellTableLoading';
  margin: 10px;
}
